{
          "yandex_translate": {
            "api_key": "ТВОЙ_КЛЮЧ_ЯНДЕКСА"
          },
          "azure_translator": {
            "subscription_key": "ТВОЙ_КЛЮЧ_AZURE",
            "region": "ТВОЙ_РЕГИОН_AZURE"
          },
          "third_translator": {
            "api_key": "ТВОЙ_ТРЕТИЙ_КЛЮЧ",
            "some_other_param": "значение"
          }
        }